[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
slow_query_log=1
general_log=0
symbolic-links=0
wait_timeout=28800
interactive_timeout=28800
connect_timeout=28800
sort_buffer_size=32M
myisam_sort_buffer_size=32M
key_buffer=1G
key_buffer_size=256M
read_buffer_size=2M
sort_buffer_size=2M
read_rnd_buffer_size=4M
query_cache_size =128M
query_cache_limit =16M
table_cache=1024
tmp_table_size=128M
max_allowed_packet=256M
bulk_insert_buffer=12M
innodb_buffer_pool_size=1G
# Merge tables require a huge amount of file descriptors so go nuts!
open_files_limit=128000
innodb_file_per_table
# Skip resolving names of clients -- Be careful when you create users...
skip-name-resolve

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
